@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-FD.ttf");
}

@font-face {
    font-family: "Vazir-Black";
    src: url(../fonts/Vazir-Black-FD.ttf);
}

@font-face {
    font-family: "Vazir-Bold";
    src: url(../fonts/Vazir-Bold-FD.ttf);
}

@font-face {
    font-family: "Vazir-Medium";
    src: url(../fonts/Vazir-Medium-FD.ttf);
}

@font-face {
    font-family: "Vazir-Thin";
    src: url(../fonts/Vazir-Thin-FD.ttf);
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, #5d14a4 -13.21%, rgb(125, 49, 202) 100%);
    z-index: 2;
    height: 100vh;
    width: 15vw;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    transition: 0.5s ease;
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: start;
        list-style-type: none;

        li {
            padding: 1em;
        }
    }

    .close-icon {
        position: absolute;
        top: 1em;
        left: 1em;
        background: transparent;
        outline: none;
        border: 0;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &.closed {
        right: -100em;
    }
}

footer {
    span {
        font-size: 0.8em;
    }
}

.meaning-section {
    position: relative;

    .database-title {
        font-family: "Vazir-Bold";
        margin: 2.5em 0 0.5em 0;
        position: relative;
        padding-right: 0.5em;
        width: 100%;
        
    }
}
