nav {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, #5D14A4 -13.21%, rgb(125, 49, 202)100%);
    z-index: 2;
    height: 100vh;
    width: 15vw;
    border-top-left-radius: .7em;
    border-bottom-left-radius: .7em;
    transition: .5s ease;
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: start;
        list-style-type: none;

        li {
            padding: 1em;
        }
    }

    .close-icon{
        position: absolute;
        top: 1em;
        left: 1em;
        background: transparent;
        outline: none;
        border: 0;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &.closed{
        right: -100em;
    }
}
