@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazir-FD.ttf');
}

@font-face {
  font-family: 'Vazir-Black';
  src: url(./fonts/Vazir-Black-FD.ttf);
}

@font-face {
  font-family: 'Vazir-Bold';
  src: url(./fonts/Vazir-Bold-FD.ttf);
}

@font-face {
  font-family: 'Vazir-Light';
  src: url(./fonts/Vazir-Light-FD.ttf);
}

@font-face {
  font-family: 'Vazir-Medium';
  src: url(./fonts/Vazir-Medium-FD.ttf);
}

@font-face {
  font-family: 'Vazir-Thin';
  src: url(./fonts/Vazir-Thin-FD.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Vazir';
}

body{
  direction: rtl;
  color: #222;
}

// a{
//   text-decoration: none;
//   color: #222;
//   font-family: 'Vazir-Bold';
//   transition: .5s ease;
//   &:hover{
//     color: #444;
//   }
// }
