@font-face {
  font-family: "Lalezar";
  src: url(./fonts/Lalezar-Regular.ttf);
}

@font-face {
  font-family: "Vazir-Light";
  src: url(./fonts/Vazir-Light-FD.ttf);
}

@font-face {
  font-family: "Vazir-Thin";
  src: url(./fonts/Vazir-Thin-FD.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  background: #111116;
  color: #999999;
  font-family: "Vazir-Light";
  overflow-y: hidden;
  @media (max-width: 600px) {
    font-size: 13px;
  }
}

a {
  color: #999999;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 15em auto;

  @media(max-width:992px){
    grid-template-columns: auto;
  }
}

.content {
  height: 78vh;
  overflow-y: auto;
  padding: 1.5em;
  &::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #383838;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #346aff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b58ff; 
  }

  
}
